flask
flask_cors
sendgrid
cloudinary
flask-sqlalchemy
Werkzeug
sqlalchemy-serializer
flask-migrate
flask-restful
importlib-metadata
importlib-resources
pytest
sqlalchemy
flask-bcrypt
gunicorn
psycopg2-binary
python-dotenv
flask-jwt-extended